@page "/"
@*<h1>Hello, world!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />*@

<h2 class="bg-light border p-2">
    First Room
</h2>
Room: @BlazorRoom.RoomName
<br />
Price: @BlazorRoom.Price
<br />

@code{
    Model.BlazorRoom BlazorRoom = new Model.BlazorRoom()
    {
        Id = 1,
        RoomName = "Villa Suite",
        IsActive = true,
        Price = 499
    };
}